{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
    {% if user.is_authenticated %}
        {% if user.place_set.all %}
            {% for place in user.place_set.all %}
                <li>
                    <a href="{% url 'places:place-detail' place.pk %}">{{ place.title }}</a>
                </li>
            {% endfor %}
        {% else %}
            <div class="center" style="text-align: center">У вас нет ни одного воспоминания</div>
        {% endif %}
        <p><a href="{% url 'places:create' %}">Добавить воспоминание</a></p>
        <a href="{% url 'users:logout' %}"> Logout </a>
    {% else %}
        <h2>Welcome to Place Remember</h2>
        <p>Login or Create your account</p>
        <a href="{% url 'social:begin' 'vk-oauth2' %}">Login with VK</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google+++++</a>
    {% endif %}
</div>
{% endblock %}
