{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
    {% if user.is_authenticated %}
    {% for impression in user.impression_set.all %}
    <li>
        <a href="{% url 'impressions:impression-detail' impression.pk %}">{{ impression.title }}</a>
    </li>
    {% empty %}
    <div class="center" style="text-align: center">У вас нет ни одного воспоминания</div>
    {% endfor %}
    <p><a href="{% url 'impressions:create' %}">Добавить воспоминание</a></p>
    <a href="{% url 'users:logout' %}"> Выйти </a> <br>  <br>
    <form action="{% url 'social:disconnect' user.backend_name %}" method="post">
        {% csrf_token %}
        <button class="btn btn-warning btn-xs">
            Выйти и забыть аккаунт
        </button>
    </form>
    {% else %}
    <h2>Welcome to Place Remember</h2>
    <p>Login or Create your account</p>
    <a href="{% url 'social:begin' 'vk-oauth2' %}">Войти с помощью VK</a>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Войти с помощью Google</a>
    {% endif %}
</div>
{% endblock %}
