{# template to visualize impression #}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ impression.title }}</title>
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>
<main>
    <header>
        {% if user.is_authenticated %}
        <div>
            <h2>Привет {{ user.last_name }} {{ user.first_name }}!</h2>
            <img src="{{ user.avatar }}">
        </div>
        {% endif %}
    </header>
    <div>
        Название: {{impression.title}}
        <p style="word-wrap: break-word ">
            Описание: <br>
            {% autoescape on %}
            {{impression.description | linebreaksbr}}
            {% endautoescape %}
        </p>
    </div>
    <div>
        <script>
            // Add point on map
            function map_init_basic(map, options) {
                const long = "{{impression.location.x}}";
                const alti = "{{impression.location.y}}";
                L.marker([alti, long]).addTo(map);
                console.log(alti)
            }
        </script>
        <style>
            .leaflet-container {
                width: 50%;
                height: 50%;
            }
        </style>
        {% leaflet_map "map" callback="window.map_init_basic" %}
    </div>
    <a href="{% url 'home' %}"> Home </a>
</main>
</body>
</html>